* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
}

body {
    height: 100vh;
    background-color: black;
}

/* -------------HEADER------------- */

header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;

    background-color: black;
    height: 80px;
    display: flex;
    justify-content: flex-end;
    padding: 7px 9px;
}

header i {
    top: 0;
}

.top-right-tools button {
    background-color: #4a4a4a;
    color: white;
    padding: 5px;
    margin: 0 2.5px;
    border: none;
    border-radius: 5px;
}

/* --------------MAIN-------------- */

.container {
    color: white;
    height: calc(100vh - 100px);
    width: calc(100% - 100px);
    margin: auto;
    padding-top: 80px;
    overflow-y: auto;
}

.layout {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.layout img {
    object-fit: fill;
    height: 138px;
    width: 244px;
    margin: 9px 5px;
}

.layout .img {
    position: relative;
}

.img-info {
    position: absolute;
    padding-bottom: 15px;
    padding-left: 10px;
    width: 40%;
    bottom: -10px;
    background-color: rgba(169, 169, 169, 0.5);
    height: 20px;
    left: 5px;
    bottom: 25px;
}

.layout i {
    top: 0;
}

.layout span {
    top: -1px;
}

/* -------------FOOTER------------- */

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 10;

    height: 80px;
    background-color: #222222;
}

.btn {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 100%;
    width: auto;
    padding: 0 15px;
    background-color: #222222;
    color: white;
    border: none;
}

i {
    display: flex;
    justify-content: center;
    position: relative;
    bottom: 5px;
}

#share i {
    color: #4bc800;
}

.chevron {
    color: white;
    border: none;
    background-color: #222222;
    width: 10px;
    margin-right: 10px;
}

span {
    white-space: nowrap;
    display: inline-block;
    position: relative;
    top: 5px;
}

.toolbar {
    height: 100%;
    width: 20%;
    color: white;
    background-color: #222222;
    display: flex;
    align-items: space;
}

.toolbar:nth-child(1) {
    display: flex;
    justify-content: flex-start;
}

.toolbar:nth-child(2) {
    width: 60%;
    display: flex;
    justify-content: center;
}

.toolbar:nth-child(3) {
    display: flex;
    justify-content: flex-end;
}

.toolbar:nth-child(3) button {
    color: red;
    background-color: #222222;
    padding: 0 20px;
    border: none;
}

footer {
    display: flex;
    justify-content: space-between;
}

/* ----------------------------------------------------------------------------------- */
.debug .btn {
	border: 1px solid white;
}

.debug .toolbar {
	border: 1px solid white;
}

.debug .toolbar:nth-child(3) button{
    border: 1px solid white;
}

.debug .container {
    background-color: fuchsia;
}